{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#fff5f8,#ffe4ec);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:30px;
}

.container{
    width:800px;
    background:white;
    padding:35px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

h1{
    text-align:center;
    color:#d63384;
    margin-bottom:30px;
}

form{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.input-box{
    display:flex;
    flex-direction:column;
}

label{
    margin-bottom:6px;
    color:#555;
    font-weight:bold;
}

input,
select,
textarea{
    padding:12px;
    border:1px solid #f4b6c2;
    border-radius:10px;
    font-size:15px;
    outline:none;
    transition:0.3s;
}

input:focus,
select:focus,
textarea:focus{
    border-color:#d63384;
    box-shadow:0 0 8px rgba(214,51,132,0.3);
}

.full{
    grid-column:1/3;
}

textarea{
    resize:none;
}

button{
    width:100%;
    padding:14px;
    background:#d63384;
    color:white;
    border:none;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#b0256d;
}
